//- ------------------------------------------------------------------------ -//
//- Why Crappo                                                            -//
//- ------------------------------------------------------------------------ -//

//why-crappo
.why-crappo
  .container
    .why-crappo__img
      ='\n'
      img.why-crappo__img__el(src="assets/img/dummy/" +data.img, alt="")/
    .why-crappo__txt
      h2.why-crappo__title !{data.title}
      p.why-crappo__description !{data.desc}
