-
  data = {
    img : 'why-crappo.svg',
    title: 'Why you should choose CRAPPO',
    desc: 'Experience the next generation cryptocurrency platform. No financial borders, extra fees, and fake reviews.',
    btn: {
      to: 'why-crappo.html',
      text: 'Learn More'
    }
  }

include ../../components/why-crappo.pug


